header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

body, h1 {
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;

}

#taskToAdd {
    border: 1px solid;
    border-radius: 10px;
    padding-left: 8px;
}

.actionButtonBanner {
  display: flex;
  justify-content: center;
  align-items: center;    
  column-gap: 10px;
  width: 100%;            
  min-height: 50px;  
}

.actionButton {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 25px;
    width: 75px;
    border-radius: 65px;
}

#line {
    margin-top: 10px;
    margin-bottom: 20px;
}

#Instruction {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Instruction.p {
    margin: 0px ;
}