
<div id="Instruction">
    <p>ADD A TASK</p>
</div>
<div class="actionButtonBanner">

  <input #taskInput type="text" id="taskToAdd" class="textField" placeholder="e.g. Wash car">
  <button class="actionButton" (click)="addTask()">Add task</button>

</div>
<hr id="line">
<div class="actionButtonBanner" >
  <h3>TASKS</h3>
</div>
<div>
  <app-task-card class="component" 
  *ngFor="let task of taskList; trackBy: trackByTaskId"
  [taskData]="task" 
  (deleteRequest)="handleDelete($event)"></app-task-card>
